In [4]:
import pandas as pd
df=pd.read_json('flights-1m-parquet.json',lines=True)
print(df)

           FL_DATE  DEP_DELAY  ARR_DELAY  AIR_TIME  DISTANCE   DEP_TIME  \
0       2006-01-01          5         19       350      2475   9.083333
1       2006-01-02        167        216       343      2475  11.783334
2       2006-01-03         -7         -2       344      2475   8.883333
3       2006-01-04         -5        -13       331      2475   8.916667
4       2006-01-05         -3        -17       321      2475   8.950000
...            ...        ...        ...       ...       ...        ...
999995  2006-02-20         87         86        71       545  19.733334
999996  2006-02-20         -2          0        71       508   8.050000
999997  2006-02-20         33         19        64       508  14.700000
999998  2006-02-20         65         54        65       508  17.633333
999999  2006-02-20        141        135        70       508   1.183333

         ARR_TIME
0       12.483334
1       15.766666
2       12.133333
3       11.950000
4       11.883333
...           ...
999995  21.333334
999996   9.583333
999997  15.983334
999998  18.983334
999999   2.616667

[1000000 rows x 7 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 7 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   FL_DATE    1000000 non-null  object
 1   DEP_DELAY  1000000 non-null  int64
 2   ARR_DELAY  1000000 non-null  int64
 3   AIR_TIME   1000000 non-null  int64
 4   DISTANCE   1000000 non-null  int64
 5   DEP_TIME   1000000 non-null  float64
 6   ARR_TIME   1000000 non-null  float64
dtypes: float64(2), int64(4), object(1)
memory usage: 53.4+ MB

In [6]:
df.describe()

,DEP_DELAY,ARR_DELAY,AIR_TIME,DISTANCE,DEP_TIME,ARR_TIME
count,1000000.000000,1000000.000000,1000000.00000,1000000.000000,1000000.000000,1000000.000000
mean,8.651135,6.400658,105.81399,741.258545,13.621958,15.134593
std,31.167477,33.939187,69.33634,573.779372,4.737427,4.966053
min,-1197.000000,-197.000000,-2.00000,30.000000,0.000000,0.000000
25%,-4.000000,-10.000000,55.00000,325.000000,9.583333,11.283334
50%,0.000000,-2.000000,87.00000,589.000000,13.583333,15.383333
75%,8.000000,11.000000,136.00000,984.000000,17.500000,19.233334
max,1379.000000,1374.000000,877.00000,4962.000000,23.983334,23.983334

In [7]:
df.shape

(1000000, 7)

In [8]:
df.dtypes

FL_DATE       object
DEP_DELAY      int64
ARR_DELAY      int64
AIR_TIME       int64
DISTANCE       int64
DEP_TIME     float64
ARR_TIME     float64
dtype: object