In [2]:
import pandas as pd

data={'Name':['Alice','Bob','Charlie',],
              'Age':[25,30,35],
              'City':['New York','San Francisco','Los Angeles']}
df=pd.DataFrame(data)

In [4]:
import pandas as pd 
ages=pd.Series([25,30,35],name='Age')

In [6]:
import pandas as pd

data=[1,2,3,4,5]
series=pd.Series(data)

print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
import pandas as pd

In [9]:
country=['India','Pakistan','USA']

pd.Series(country)

0       India
1    Pakistan
2         USA
dtype: object

In [11]:
runs=[67,54,89,100]
runs_series=pd.Series(runs)
print(runs_series)

0     67
1     54
2     89
3    100
dtype: int64

In [12]:
marks=[67,54,89,100]
subjects=['Math','English','SocialScience','Marathi']

pd.Series(marks,index=subjects)

Math              67
English           54
SocialScience     89
Marathi          100
dtype: int64

In [13]:
marks=pd.Series(marks,index=subjects,name="Exam_Marks")
marks

Math              67
English           54
SocialScience     89
Marathi          100
Name: Exam_Marks, dtype: int64

In [15]:
marks={
    'maths':67,
      'English':57,
      'science':89,
      'hindi':100,
}
marks_series=pd.Series(marks,name='marks')
marks_series

maths       67
English     57
science     89
hindi      100
Name: marks, dtype: int64

In [16]:
marks

{'maths': 67, 'English': 57, 'science': 89, 'hindi': 100}

In [18]:
marks_series.size

4

In [19]:
marks_series.dtype

dtype('int64')

In [20]:
marks_series.name

'marks'

In [21]:
marks_series.is_unique

pd.Series([1,1,2,3,4,5]).is_unique

False

In [22]:
marks_series.index

Index(['maths', 'English', 'science', 'hindi'], dtype='object')

In [23]:
marks_series.values

array([ 67,  57,  89, 100])

In [24]:
import pandas as pd 
import numpy as np

In [26]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
vk=pd.read_csv('/content/kohli_ipl.csv',index-