In [1]:
import pandas as pd

df=pd.read_csv('HDFC.csv')
df.head(10)
print(df)

            Date Symbol Series  Prev Close     Open     High      Low  \
0     2000-01-03   HDFC     EQ      271.75   293.50   293.50   293.50
1     2000-01-04   HDFC     EQ      293.50   317.00   317.00   297.00
2     2000-01-05   HDFC     EQ      304.05   290.00   303.90   285.00
3     2000-01-06   HDFC     EQ      292.80   301.00   314.00   295.00
4     2000-01-07   HDFC     EQ      296.45   290.00   296.35   281.00
...          ...    ...    ...         ...      ...      ...      ...
5301  2021-04-26   HDFC     EQ     2497.35  2500.00  2534.10  2483.20
5302  2021-04-27   HDFC     EQ     2509.80  2494.15  2526.80  2486.25
5303  2021-04-28   HDFC     EQ     2518.40  2516.10  2609.00  2508.30
5304  2021-04-29   HDFC     EQ     2577.00  2590.90  2628.00  2533.00
5305  2021-04-30   HDFC     EQ     2538.85  2503.10  2525.00  2411.10

         Last    Close     VWAP   Volume      Turnover    Trades  \
0      293.50   293.50   293.50    22744  6.675364e+11       NaN
1      304.00   304.05   303.62   255251  7.749972e+12       NaN
2      295.00   292.80   294.53   269087  7.925368e+12       NaN
3      296.00   296.45   300.14   305916  9.181669e+12       NaN
4      287.10   286.55   288.80   197039  5.690480e+12       NaN
...       ...      ...      ...      ...           ...       ...
5301  2502.00  2509.80  2508.07  3916088  9.821805e+14  121028.0
5302  2514.00  2518.40  2509.18  2040799  5.120730e+14  102250.0
5303  2575.00  2577.00  2574.21  3407461  8.771527e+14  117425.0
5304  2539.70  2538.85  2569.65  3005468  7.722995e+14  132826.0
5305  2433.25  2420.10  2445.94  6024595  1.473581e+15  224454.0

      Deliverable Volume  %Deliverble
0                    NaN          NaN
1                    NaN          NaN
2                    NaN          NaN
3                    NaN          NaN
4                    NaN          NaN
...                  ...          ...
5301           2440395.0       0.6232
5302           1040749.0       0.5100
5303           1815110.0       0.5327
5304           1472924.0       0.4901
5305           3839105.0       0.6372

[5306 rows x 15 columns]

In [3]:
df.describe()

,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
count,5306.000000,5306.000000,5306.000000,5306.000000,5306.000000,5306.000000,5306.000000,5.306000e+03,5.306000e+03,2456.000000,4.797000e+03,4797.000000
mean,1283.666114,1284.393074,1304.269732,1263.297842,1283.885017,1284.071005,1283.664578,1.848187e+06,2.620759e+14,102159.051303,1.329440e+06,0.653088
std,709.395090,709.703665,721.308080,697.450309,709.250204,709.430515,709.109622,2.991387e+06,3.607844e+14,57948.603200,2.555073e+06,0.128115
min,271.750000,284.000000,290.500000,273.250000,282.850000,283.850000,283.600000,2.919000e+03,1.834686e+11,973.000000,1.786000e+03,0.119000
25%,668.650000,669.712500,677.512500,660.000000,669.000000,668.662500,668.265000,3.034970e+05,2.461178e+13,62011.500000,2.688070e+05,0.575200
50%,1136.275000,1135.400000,1156.725000,1119.000000,1135.000000,1136.675000,1136.720000,1.337788e+06,1.684207e+14,90405.000000,1.021574e+06,0.666900
75%,1811.475000,1813.812500,1835.000000,1783.075000,1812.000000,1811.787500,1811.680000,2.732310e+06,3.419282e+14,129754.500000,1.939101e+06,0.742000
max,3180.150000,3148.000000,3262.000000,3100.550000,3178.000000,3180.150000,3166.580000,1.584141e+08,1.043773e+16,538170.000000,1.483131e+08,0.989400

In [5]:
print(df['High'])

0        293.50
1        317.00
2        303.90
3        314.00
4        296.35
         ...
5301    2534.10
5302    2526.80
5303    2609.00
5304    2628.00
5305    2525.00
Name: High, Length: 5306, dtype: float64

In [6]:
df['High'].mean()

np.float64(1304.2697323784398)

In [7]:
df['High'].describe()

count    5306.000000
mean     1304.269732
std       721.308080
min       290.500000
25%       677.512500
50%      1156.725000
75%      1835.000000
max      3262.000000
Name: High, dtype: float64

In [8]:
df['High'].median()

1156.725

In [2]:
import matplotlib.pyplot as plt