In [2]:
import pandas as pd

df=pd.read_json('sample1.json')
df.head(10)
print(df)

    fear       chest    how  graph       camp  plural
0  quiet -1477429467  False  False  929234312  settle

In [3]:
df.describe()

              chest         camp
count  1.000000e+00          1.0
mean  -1.477429e+09  929234312.0
std             NaN          NaN
min   -1.477429e+09  929234312.0
25%   -1.477429e+09  929234312.0
50%   -1.477429e+09  929234312.0
75%   -1.477429e+09  929234312.0
max   -1.477429e+09  929234312.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fear    1 non-null      object
 1   chest   1 non-null      int64
 2   how     1 non-null      bool
 3   graph   1 non-null      bool
 4   camp    1 non-null      int64
 5   plural  1 non-null      object
dtypes: bool(2), int64(2), object(2)
memory usage: 166.0+ bytes

In [5]:
df.shape

(1, 6)

In [8]:
df['graph'].dtypes

dtype('bool')

In [9]:
df.sample()

    fear       chest    how  graph       camp  plural
0  quiet -1477429467  False  False  929234312  settle